# Dependency directories
node_modules/

# Environment files
.env
*.env

# Logs
logs
*.log
npm-debug.log*

# Compiled files
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Dependency lock files
package-lock.json
yarn.lock